#root {
  overflow-x: hidden;
}

.navbar {
  text-align: center;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.navbar i {
  padding-left: 20px;
}

.navbar i img {
  width: 7%;
  opacity: 0.6;
}

.navbar .logo strong {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.navbar .logo a {
  color: black;
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  background-color: white;
  padding: 10px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.header .count {
  position: absolute;
  right: 11%;
  top: 0%;
  background-color: black;
  color: white;
  padding: 1px 10px;
  border-radius: 20px;
  text-align: center;
}

.mobile {
  display: none;
}

.mobile-nav {
  display: none;
}

.basket {
  z-index: 9999;
  top: 0%;
  right: -100%;
  background-color: black;
  height: 100vh;
  width: 40%;
  color: white;
  text-align: left;
  position: fixed;
  padding: 10px 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.basket .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
  margin-top: 30px;
  margin-bottom: 40px;
}

.basket img {
  width: 100%;
}

.basket div {
  margin: 10px;
}

.basket .remove {
  background-color: black;
  border: 1px solid gray;
  color: white;
}

.basket .text {
  width: 100%;
}

.basket input {
  width: 100%;
  border: none;
  outline: none;
}

.basket .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket .times {
  background: none;
  color: white;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 10px;
}

.basket .total {
  position: fixed;
  bottom: -1%;
  border-top: 2px solid white;
  width: 50%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: black;
}

.basket .total button {
  font-weight: 600;
  background-color: white;
  text-transform: capitalize;
  padding: 7px 50px;
  border: none;
  outline: none;
  color: black;
}

.checkout {
  z-index: 999999;
  top: 0%;
  left: -100%;
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  color: black;
  text-align: left;
  position: fixed;
  padding: 10px 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkout ::-webkit-scrollbar {
  display: none;
}

.checkout .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
  margin-top: 30px;
  margin-bottom: 40px;
}

.checkout img {
  width: 100%;
}

.checkout div {
  margin: 10px;
}

.checkout .text {
  width: 100%;
}

.checkout input {
  width: 100%;
  border: none;
  outline: none;
}

.checkout .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout h1 {
  text-align: center;
}

.checkout .cart {
  display: none;
}

.checkout .times {
  border: none;
  font-size: 1.3rem;
}

.checkout #pay {
  width: 30%;
  height: 7vh;
  background-color: black;
  border: 1px solid #ebdfdf;
  color: white;
}

.checkout main {
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  #root {
    overflow-x: hidden;
  }
  .header {
    display: none;
  }
  .basket {
    width: 100%;
  }
  .basket .total {
    width: 100%;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 7px;
    z-index: 99;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 2px 1px lightgrey;
            box-shadow: 0px 1px 2px 1px lightgrey;
    background-color: white;
    text-align: center;
  }
  .mobile-nav section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-nav strong {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .mobile-nav button {
    border: none;
    outline: none;
    background-color: transparent;
  }
  .mobile-nav a {
    text-decoration: none;
    color: black;
  }
  .mobile-nav .count {
    position: absolute;
    top: 0%;
    margin-left: 30px;
    padding: 5px;
    border: 20px;
    color: red;
    font-weight: 900;
  }
  .mobile {
    display: block;
    position: fixed;
    background-color: whitesmoke;
    top: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  .mobile ul {
    list-style-type: none;
    text-align: center;
    padding-top: 150px;
    padding-right: 50px;
  }
  .mobile ul li a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-transform: capitalize;
  }
  .mobile button {
    position: absolute;
    top: 3%;
    left: 76%;
    outline: none;
    border: none;
    background-color: transparent;
  }
}
/*# sourceMappingURL=style.css.map */